/*
* {
    border: 1px solid green;
}
--variable: black;
color: var(--variable);
*/

.container {
    margin: auto;
}

.logo {
    display:block;
    margin-top:30px;
    font-family: 'Flamenco', cursive;
}

.logo a {
    display:block;
    margin:auto;
    text-align:center;
    color: #0A68A5;
    text-decoration: none;
    outline: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    margin:auto;
    margin-bottom:20px;
}

.link {
    display:inline;
}

.link a {
    color: #000000;
    text-decoration: none;
    font-family: 'Flamenco', cursive;
    outline: 0;
}

.currentpage a {
    color: #0A68A5;
    outline: 0;
}

.content {
    display:block;
    margin:auto;
    font-family: 'Roboto', sans-serif;
    overflow: auto;
}

.content-title {
}

.content-body {
    padding-left:15px;
}

.content-body a {
    color: #0A68A5;
    outline: 0;
}

.content-body img {
    float: right;
    margin: 0 0 1em 1em;
}

footer {
    text-align: center;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width:800px) {
    .logo {
        font-size:137px;
    }
    nav {
        width:430px;
    }
    .link {
        font-size:22px;
    }
    .content {
        width:700px;
    }
    .content-title {
        font-size:32px;
    }
    .content-body {
        font-size:14px;
    }
}
/* multiply vars by .96 */
@media screen and (max-width:799px) {
    .logo {
        font-size:137px;
    }
    nav {
        width:412px;
    }
    .link {
        font-size:21px;
    }
    .content {
        width:672px;
    }
    .content-title {
        font-size:30.7px;
    }
    .content-body {
        font-size:14px;
    }
}
/* multiply vars by .90 */
@media screen and (max-width:749px) {
    .logo {
        font-size:123px;
    }
    nav {
        width:387px;
    }
    .link {
        font-size:19.8px;
    }
    .content {
        width:630px;
    }
    .content-title {
        font-size:28.8px;
    }
    .content-body {
        font-size:14px;
    }
}
/* multiply vars by .84 */
@media screen and (max-width:699px) {
    .logo {
        font-size:115px;
    }
    nav {
        width:361px;
    }
    .link {
        font-size:18.5px;
    }
    .content {
        width:588px;
    }
    .content-title {
        font-size:26.9px;
    }
    .content-body {
        font-size:14px;
    }
}
/* multiply vars by .78 */
@media screen and (max-width:649px) {
    .logo {
        font-size:106.9px;
    }
    nav {
        width:335px;
    }
    .link {
        font-size:17.2px;
    }
    .content {
        width:746px;
    }
    .content-title {
        font-size:25px;
    }
    .content-body {
        font-size:14px;
    }
}
/* multiply vars by .72 */
@media screen and (max-width:599px) {
    .logo {
        font-size:98px;
    }
    nav {
        width:309px;
    }
    .link {
        font-size:15.8px;
    }
    .content {
        width:504px;
    }
    .content-title {
        font-size:23px;
    }
    .content-body {
        font-size:14px;
    }
}
/* multiply vars by .66 */
@media screen and (max-width:549px) {
    .logo {
        font-size:90px;
    }
    nav {
        width:283px;
    }
    .link {
        font-size:14.5px;
    }
    .content {
        width:462px;
    }
    .content-title {
        font-size:21.1px;
    }
    .content-body {
        font-size:14px;
    }
}
/* multiply vars by .59 */
@media screen and (max-width:499px) {
    .logo {
        font-size:81px;
    }
    nav {
        width:253px;
    }
    .link {
        font-size:14px;
    }
    .content {
        width:413px;
    }
    .content-title {
        font-size:18.9px;
    }
    .content-body {
        font-size:14px;
    }
}
/* multiply vars by .53 */
@media screen and (max-width:449px) {
    .logo {
        font-size:72px;
    }
    nav {
        width:228px;
    }
    .link {
        font-size:14px;
    }
    .content {
        width:371px;
    }
    .content-title {
        font-size:17px;
    }
    .content-body {
        font-size:14px;
    }
}
/* multiply vars by .47 */
@media screen and (max-width:399px) {
    .logo {
        font-size:64px;
    }
    nav {
        width:202px;
    }
    .link {
        font-size:14px;
    }
    .content {
        width:329px;
    }
    .content-title {
        font-size:17px;
    }
    .content-body {
        font-size:14px;
    }
}
/* multiply vars by .40 */
@media screen and (max-width:349px) {
    .logo {
        font-size:54px;
    }
    nav {
        width:172px;
    }
    .link {
        font-size:14px;
    }
    .content {
        width:280px;
    }
    .content-title {
        font-size:17px;
    }
    .content-body {
        font-size:14px;
    }
}
/* multiply vars by .34 */
@media screen and (max-width:299px) {
    .logo {
        font-size:46px;
    }
    nav {
        width:146px;
    }
    .link {
        font-size:14px;
    }
    .content {
        width:238px;
    }
    .content-title {
        font-size:17px;
    }
    .content-body {
        font-size:14px;
    }
}
